{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ingreso UTN - Regional La Plata</title>
    {% bootstrap_css %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'landing/img/logo_favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'landing\css\styles.css' %}" rel="stylesheet" />
</head>

<body id="top" class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="https://www.frlp.utn.edu.ar/">
                    <img src="{% static 'landing/img/logo_frlp_b.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#quienes_somos">Quiénes Somos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#ingenierias">Qué se estudia</a></li>
                        <li class="nav-item"><a class="nav-link" href="#ingreso">Inscripción</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#como_llego">Como llego</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="#faq">Preguntas Frecuentes</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5 bg-header">
            <div class="container-flux py-5 px-5"
                style="background-color: rgba(10, 0, 0, 0.37); background-size: cover;">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-7 col-xxl-6 order-2 order-sm-1" style="border: 1px; box-shadow: 10px;">
                        <div class="my-1 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Sumate a la Universidad Tecnológica</h1>
                            <p class="lead fw-normal text-white mb-4">Convertí tus sueños en realidad:
                                ¡Inscribite ahora en la UTN La Plata!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#ingreso">¿Cómo me inscribo?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 order-1 order-sm-2 text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="100%" height="300"
                                src="https://www.youtube.com/embed/bX-xqXbVk24" title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- QuienesSomos section-->
        <section class="py-5" id="quienes_somos">
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-9">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">
                                    La Universidad Tecnológica Nacional es una institución educativa universitaria con
                                    la misión específica de crear, preservar y transmitir la cultura universal en el
                                    campo de la tecnología. Está enfocada en las carreras de Ingeniería y disciplinas
                                    afines. Se compone de 30 facultades regionales distribuidas en toda la República
                                    Argentina.<br>
                                    Cada año, la UTN contribuye con más del 35% de las personas graduadas en
                                    ingeniería y más del 40% de estudiantes de ingeniería del país. Si deseas
                                    obtener más información sobre la UTN, te invitamos a explorar más en su página web
                                    oficial haciendo <a href="https://www.utn.edu.ar/es/">click acá</a>!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5" id="ingenierias">
            <div class="container">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-8" style="margin-bottom: 2%; margin-top: 2%;">
                        <div class="justify-content-center">
                            <h2 class="fw-bolder">¿Qué ingenierías se pueden estudiar en la Plata?</h2>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <!--Civil_tarjeta-->
                        <div class="col-lg-4 mb-5" id="civil">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/civil.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-civil">
                                        <h5 class="card-title mb-3">Ingeniería Civil</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años y 6 meses</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b></br> Mañana o Noche</p>
                                    <!-- <p class="card-text mb-0">Titulo intermedio: Analista universitario de sistemas</p> -->
                                </div>
                            </div>
                        </div>
                        <!--Electrica_tarjeta-->
                        <div class="col-lg-4 mb-5" id="electrica">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/electrica.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-electrica">
                                        <h5 class="card-title mb-3">Ingeniería en Energía Eléctrica</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b></br> Noche</p>
                                    <!-- <p class="card-text mb-0">Titulo intermedio: Analista universitario de sistemas</p> -->
                                </div>
                            </div>
                        </div>
                        <!--Mecanica_tarjeta-->
                        <div class="col-lg-4 mb-5" id="mecanica">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/mecanica.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-mecanica">
                                        <h5 class="card-title mb-3">Ingeniería Mecánica</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b></br> Mañana o Noche</p>
                                    <!-- <p class="card-text mb-0">Titulo intermedio: Analista universitario de sistemas</p> -->
                                </div>
                            </div>
                        </div>
                        <!--Industrial_tarjeta-->
                        <div class="col-lg-4 mb-5" id="industrial">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/industrial.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-industrial">
                                        <h5 class="card-title mb-3">Ingeniería Industrial</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b> </br> Mañana o Noche</p>
                                    <p class="card-text mb-0"><b>Titulo intermedio:</b> </br> Técnica/o Universitario en
                                        Administración, Producción y Gestión</p>
                                </div>
                            </div>
                        </div>
                        <!--Quimica_tarjeta-->
                        <div class="col-lg-4 mb-5" id="quimica">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/quimica.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-quimica">
                                        <h5 class="card-title mb-3">Ingeniería Química</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b></br> Noche</p>
                                    <p class="card-text mb-0"><b>Título intermedio:</b></br> Técnica/o Universitario en
                                        Química
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Sistemas_tarjeta-->
                        <div class="col-lg-4 mb-5" id="sistemas">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'landing/img/sistemas.jpg' %}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Carrera de Grado</div>
                                    <a class="text-decoration-none link-dark stretched-link"
                                        href="https://www.frlp.utn.edu.ar/carrera-sistemas">
                                        <h5 class="card-title mb-3">Ingeniería en Sistemas de Información</h5>
                                    </a>
                                    <p class="card-text mb-0"><b>Duración:</b></br> 5 años</p>
                                    <p class="card-text mb-0"><b>Turnos de 1er año:</b></br> Mañana, Tarde o Noche</p>
                                    <p class="card-text mb-0"><b>Título intermedio:</b></br> Analista Universitario de
                                        Sistema</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5" id="ingreso" style="margin-top: 15px;">
            <div class="container">
                <div class="row gx-5 justify-content-center" style=" margin-top: 2%;">
                    <div class="col-sm-4" style="margin-bottom: 2%;">
                        <img src="{% static 'landing/img/logo_ingreso.png' %}" alt="Ingreso UTN"
                            class="img-fluid mx-auto d-block" />
                        <div style="background: #f5f5f5; padding: .75rem; margin-bottom:3rem; margin-top:3rem;">
                            <h4><span class="label"> <b>Período de Inscripción</b></span></h4>
                            <p style="font-size:1.15em">Desde el 1 de junio al 31 de diciembre de cada año.</p>
                            <p style="font-size:1.15em">
                                Las inscripciones no estarán disponibles durante los recesos de invierno y verano,
                                por lo tanto, no será posible completar el formulario en estos períodos.</p>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h4>Pasos para pre-inscribirte</h4>
                        <p><b>La preinscripción se realiza únicamente para solicitar información sobre el Seminario
                                Universitario de Ingreso. Para realizar una inscripción definitiva, deberás presentar la
                                documentación requerida.</b>
                        </p>
                        <p>Para registrar tu inscripción en la UTN La Plata, deberás:</p>
                        <ul>
                            <li><b>Paso 1:</b> Completar el <a href="https://preinscripcion.frlp.utn.edu.ar/">
                                    formulario</a> de preinscripción online.</li>
                            <li><b>Paso 2:</b> Para confirmar la inscripcion, y elejir la modalidad y periodo,
                                ingresar al siguiente link en el siguiente
                                <a href="{% url 'confirmacion_info' %}">link</a>
                            </li>
                        </ul>

                        <h4>Seminario Universitario de Ingreso</h4>
                        <p>El Seminario Universitario es de carácter obligatorio y tiene como objetivo nivelar
                            conocimientos para el cursado de cualquiera de las ingenierías.
                            El mismo cubre los contenidos de matemática y física del nivel secundario
                        <p>
                        <div class="row" style="margin:0; padding-top:1rem; padding-bottom:2rem;">
                            <div class="col-sm-12">
                                <p><a href="{% static 'landing/doc/programa_2023.pdf' %}" class="btn btn-info"
                                        role="button" download style="background: rgba(0, 0, 0, .05);"><span
                                            class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        Contenidos del Seminario de Ingreso</a></p>
                            </div>
                        </div>

                        <p>A continuación podrás observar las distintas modalidades previstas:</p>
                        <ul>
                            <li>No intensivo (podés inscribirte hasta el 31/07/2023)
                                <!-- <a href="#">ver información</a>. -->
                            </li>
                            <ul>
                                <li>Modalidad Presencial</li>
                                <li>Modalidad Semi-Presencial</li>
                                <li>Modalidad Virtual o a Distancia</li>
                            </ul>
                            <li>Intensivo (podés inscribirte hasta el 31/12/2023)
                                <!-- <a href="#">ver información</a>. -->
                            </li>
                            <ul>
                                <li>Modalidad Presencial</li>
                                <li>Modalidad Semi-Presencial</li>
                                <li>Modalidad Virtual o a Distancia</li>
                            </ul>
                        </ul>

                        <div style="background: #EEE; padding: 2.5rem; margin-bottom:3rem;">
                            <h3>Importante:</h3>
                            <p>Te recomendamos que, previo a confirmar tu inscripción, hayas revisado detalladamente la
                                información presentada para las modalidades. De esta manera, podrás escoger con buen
                                criterio una de ellas. Desde el Área Ingreso a la UTN La Plata, responsable de la
                                implementación del Seminario de Ingreso, te alentamos a participar en la Modalidad
                                Presencial.</p>
                            <p>Durante los recesos de invierno y verano respectivamente, la facultad permanecerá
                                cerrarada.</p>
                            <p>Ante cualquier inquietud, no dudes en comunicarte a través de <a
                                    href="mailto:ingreso@frlp.utn.edu.ar">ingreso@frlp.utn.edu.ar</a>
                                o bien acercarte a la oficina de Ingreso, de lunes a viernes de 12 a 16 horas.</p>
                        </div>
                        <div style="padding: .75rem; margin-bottom:3rem; margin-top:3rem;">
                            <h4><span>Condiciones de Ingreso a la UTN Facultad Regional La Plata</span></h4>
                            <p>Te consideraremos “ingresante” a la Universidad siempre que logres la aprobación
                                del Seminario de Ingreso, al momento de iniciarse el próximo ciclo lectivo de las
                                carreras de ingeniería.</p>
                            <p>Sólo las personas ingresantes estarán habilitadas a cursar todas las materias del
                                primer nivel de la carrera de ingeniería elegida. Las restantes serán consideradas
                                como “Aspirantes” y deberán continuar en su ciclo de nivelación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Documentacion a presentar -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <section class="py-5" id="como_llego">
            <div class="container">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        <div>
                            <h2 class="fw-bolder">¿COMO LLEGO A LA UTN LA PLATA?</h2>
                        </div>
                        <div class="col-xl-4 col-xxl-6 justify-content-between">
                            <p class="lead fw-normal text-muted mb-4">Colectivos que te dejan en la facu</p>
                        </div>
                        <div
                            class="col-xl-8 col-xxl-6 d-none d-xl-block text-center embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" width="100%" height="350" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6544.133484740557!2d-57.93211084874362!3d-34.90477455423825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e60da013ff15%3A0xc29e92f7bc39cc6f!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20-%20Facultad%20Regional%20La%20Plata%20(UTN-FRLP)!5e0!3m2!1ses!2sar!4v1687045090736!5m2!1ses!2sar"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    -->
        <section class="py-5" id="faq">
            <div class="container">
                <div class="text-center mb-5" style="margin-top: 2%;">
                    <h2 class="fw-bolder">PREGUNTAS FRECUENTES</h2>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <div class="accordion mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-controls="collapseOne">¿Qué puedo estudiar en la
                                        UTN La Plata?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        En la Regional La Plata se puede estudiar:
                                        <ul>
                                            <li>Carreras de Grado:</li>
                                            <ul>
                                                <li><a href="#civil">Ingeniería Civil</a></li>
                                                <li><a href="#electrica">Ingeniería en Energía Eléctrica</a></li>
                                                <li><a href="#industrial">Ingeniería Industrial</a></li>
                                                <li><a href="#mecanica">Ingeniería Mecánica</a></li>
                                                <li><a href="#quimica">Ingeniería Química</a></li>
                                                <li><a href="#quimica">Ingeniería en Sistemas de Información</a></li>
                                            </ul>
                                            <li><a href="https://www.frlp.utn.edu.ar/cursos-capacitacion">Cursos de
                                                    capacitación</a></li>
                                            <li><a href="https://www.frlp.utn.edu.ar/posgrados">Carrreas de
                                                    Posgrados</a></li>
                                            <li><a href="https://www.frlp.utn.edu.ar/cursos-posgrados">Cursos de
                                                    Posgrados</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">¿Cómo me inscribo?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Consultá toda la información que se encuentra en <a href="#ingreso">esta
                                            sección</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">¿Qué hace una persona graduada
                                        en
                                        ingeniería?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Las personas graduadas en ingeniería son profesionales que aplican la ciencia y
                                        la tecnología para resolver problemas y mejorar la calidad de vida de las
                                        personas, a través de la creación de soluciones técnicas y eficientes. <br>
                                        Las personas graduadas en ingeniería pueden especializarse en diferentes áreas,
                                        como ingeniería civil, ingeniería mecánica, ingeniería eléctrica, ingeniería
                                        química, ingeniería en sistemas de información, entre otras. Cada especialidad
                                        tiene su propio conjunto de conocimientos y habilidades específicas, pero todos
                                        los ingenieros comparten una mentalidad analítica, creativa y resolutiva.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">¿Es posible realizar un
                                        cambio de especialidad dentro de la facultad después de haberse inscripto en
                                        una carrera?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Sí. Podés cambiar de especialidad antes de comenzar el cursado o en cualquier
                                        momento de la carrera, a través de un
                                        trámite muy sencillo. Te serán reconocidas todas las materias en común que
                                        tengas aprobadas.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">¿Qué beneficios tengo como
                                        estudiante de la UTN La Plata?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Como estudiante de la UTN La Plata tenés beneficios extra como: becas de ayuda
                                        económica y de investigación,
                                        actividades deportivas y culturales, apoyo académico, viajes de intercambio,
                                        comedor, entre otros.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingSix"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="false" aria-controls="collapseSix">¿Cuáles son los horarios de
                                        cursado?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Las cursadas son de lunes a viernes y contamos con distintas franjas horarias:
                                        <ul>
                                            <li>Turno Mañana de 8 a 13hs</li>
                                            <li>Turno Tarde de 12 a 18hs</li>
                                            <li>Turno Noche de 17 a 23hs</li>
                                        </ul>

                                        En primer año, las carreras se pueden cursar en las siguientes franjas
                                        horarias:
                                        <ul>
                                            <li>Turno noche: Todas</li>
                                            <li>Turno tarde: Ing. en Sistemas de Informacion</li>
                                            <li>Turno mañana: Ing. Civil, Ing. Industrial, Ing, Mecanica, Ing. en
                                                Sistemas de Informacion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingSeven"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">Si ya me inscribi en otra
                                        universidad, ¿Me puedo anotar en la UTN - La Plata?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseSeven"
                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Si, la UTN La Plata permite la inscripción en su sede, incluso cuando te hayas
                                        inscripto en otra universidad. No compartimos la información de nuestros
                                        inscriptos
                                        a ninguna otra institución.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingEighth"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEighth" aria-expanded="false"
                                        aria-controls="collapseEighth">Ya me encuentro cursando en otra universidad,
                                        ¿Puedo continuar mis estudios en la UTN La Plata?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseEighth"
                                    aria-labelledby="headingEighth" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Si, podes solicitar la inscripción desde otra universidad o institución
                                            a la UTN La Plata, el trámite se conoce como: "Ingreso por Equivalencias".
                                            En el siguiente
                                            <a href="https://www.frlp.utn.edu.ar/ingreso-alumnos-por-equivalencias">
                                                Link</a> tenés información de cómo realizarlo
                                        </p>
                                        <p>Tenes tiempo desde el 1ro de agosto, hasta el 31 de octubre del corriente
                                            año </p>
                                        <p>Si no llegaste a realizarlo durante ese periodo, debes inscribirte para
                                            realizar el seminario y comunicarte con la dirección de ingreso al
                                            siguiente mail <a href="mailto:ingreso@frlp.utn.edu.ar">
                                                ingreso@frlp.utn.edu.ar</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingNine"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                        aria-expanded="false" aria-controls="collapseNine">Ya me encuentro cursando en
                                        otra Facultad Regional de la UTN,
                                        ¿Puedo continuar mis estudios en la Regional La Plata?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseNine" aria-labelledby="headingNine"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Si, podes solicitar el pase entre regionales, el trámite depende del tipo de
                                            pase:
                                        <ul>
                                            <li>Pasarse de Regional y continuar en la misma carrera</li>
                                            <li>Pasarse de Regional y cambiarse de carrera</li>
                                            <li>Cambiarse por un periodo de tiempo, sin cambiarse de regional "Pase
                                                Transitorio"</li>
                                            <li>Solo cursar alguna asignatura, sin cambiarse de regional "Cursado sin
                                                Pase"</li>
                                        </ul>
                                        En el siguiente
                                        <a href="https://www.frlp.utn.edu.ar/ingreso-alumnos-por-pase">Link</a>
                                        tenés información de cómo realizarlo
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card border-0 bg-light mt-xl-5">
                            <div class="card-body p-4 py-lg-5">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <div class="h6 fw-bolder">¿Tienes mas consultas?</div>
                                        <p class="text-muted mb-4">
                                            Contactanos a:
                                            <br /><a href="mailto:"></a>
                                            <a href="mailto:ingreso@frlp.utn.edu.ar">ingreso@frlp.utn.edu.ar</a>
                                        </p>
                                        <!--
                                            <div class="h6 fw-bolder">Siguenos en nuestras redes</div>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <!--
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Ingreso &copy; Copyright 2023</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        -->
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    {% bootstrap_javascript %}
    <!-- Core theme JS-->
    <script src="{% static 'landing/js/scripts.js' %}"></script>
</body>

</html>
