{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}


<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-lg-10 col-xl-6" style="background: #EEE; border-radius: 2%; padding: 2.5rem; text-align: center">
            <h2 class="fw-bolder text-center">Inscripcion Paso 1</h2>
            <div class="center-block" style="margin-bottom: 5%">
                <form enctype="multipart/form-data" id="formulario" method="POST">
                    {% csrf_token %}
                    <h3>Datos Personales</h3>
                    <div class="row conteiner-fluid">
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.apellidos layout='floating' %}
                        </div>
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.nombres layout='floating' %}
                        </div>
                        <div class="conteiner-fluid">
                        <div class="row">
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.sexo layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.genero layout='floating' %}
                        </div>
                        <div class="col-lg-4" id='id_genero_otro_div' hidden>
                            {% bootstrap_field persona_form.genero_otro layout='floating' %}
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.fecha_nacimiento layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.pais_nacimiento layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.nacionalidad layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.documento_tipo layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.pais_documento layout='floating' %}
                        </div>
                        <div class="col-lg-4">
                            {% bootstrap_field persona_form.numero_documento layout='floating' %}
                        </div>
                        <div class="col-lg-6" id='id_cuil_div' hidden>
                            {% bootstrap_field persona_form.cuil layout='floating' %}
                        </div>
                    </div>
                    <!-- ############################################################ -->
                    <hr>
                    <h3>Datos de Contacto</h3>
                    <div class="row conteiner-fluid">
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.telefono layout='floating' %}
                        </div>
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.telefono2 layout='floating' %}
                        </div>
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.correo layout='floating' %}
                        </div>
                        <div class="col-lg-6">
                            {% bootstrap_field persona_form.correo2 layout='floating' %}
                        </div>
                        <!-- ############################################################ -->
                        <hr>
                        <h3>Domicilio de Actual de Residencia</h3>
                        <div class="row conteiner-fluid">
                            <div class="col-lg-6">
                                {% bootstrap_field persona_form.domicilio_pais layout='floating'%}
                            </div>
                            <div id='id_domicilio_provincia_div' class="col-lg-6 hidden-field" hidden>
                                {% bootstrap_field persona_form.domicilio_provincia layout='floating' %}
                            </div>
                            <div id='id_domicilio_partido_div' class="col-lg-6" hidden>
                                {% bootstrap_field persona_form.domicilio_partido layout='floating' %}
                            </div>
                            <div id='id_domicilio_localidad_div' class="col-lg-6" hidden>
                                {% bootstrap_field persona_form.domicilio_localidad layout='floating' %}
                            </div>
                        </div>
                        <div id='id_domicilio_direccion_div' class="row conteiner-fluid" hidden>
                            <div class="col-lg-7">
                                {% bootstrap_field persona_form.domicilio_barrio layout='floating' %}
                            </div>
                            <div class="col-lg-7">
                                {% bootstrap_field persona_form.domicilio_calle layout='floating' %}
                            </div>
                            <div class='row'>
                                <div class="col-lg-4">
                                    {% bootstrap_field persona_form.domicilio_altura layout='floating' %}
                                </div>
                                <div class="col-lg-2">
                                    {% bootstrap_field persona_form.domicilio_piso layout='floating' %}
                                </div>
                                <div class="col-lg-2">
                                    {% bootstrap_field persona_form.domicilio_departamento layout='floating' %}
                                </div>
                            </div>
                        </div>
                        <div id='id_estudiante_form_div' hidden>
                        <!-- ############################################################ -->
                        <hr>
                        <h3>Contacto de Emergencias</h3>
                        <div class='row'>
                            <div class="col-lg-6">
                                {% bootstrap_field estudiante_form.emergencia_contacto layout='floating'%}
                            </div>
                            <div class="col-lg-6">
                                {% bootstrap_field estudiante_form.emergencia_telefono layout='floating' %}
                            </div>
                        </div>
                        <!-- ############################################################ -->
                        <hr>
                        <h3>Estudios Secundarios</h3>
                        <div class='row'>
                            <div class="col-lg-6">
                                {% bootstrap_field estudiante_form.pais layout='floating'%}
                            </div>
                            <div id='id_provincia_div' class="col-lg-6 hidden-field" hidden>
                                {% bootstrap_field estudiante_form.provincia layout='floating' %}
                            </div>
                            <div id='id_partido_div' class="col-lg-6" hidden>
                                {% bootstrap_field estudiante_form.partido layout='floating' %}
                            </div>
                            <div id='id_localidad_div' class="col-lg-6" hidden>
                                {% bootstrap_field estudiante_form.localidad layout='floating' %}
                            </div>
                            <div id='id_escuela_div' class="col-lg-7" hidden>
                                {% bootstrap_field estudiante_form.escuela layout='horizontal' %}
                            </div>
                        <div class='row'>
                            <div id='id_titulo_secundario_div' class="col-lg-6" hidden>
                                {% bootstrap_field estudiante_form.titulo_secundario layout='vertical' %}
                            </div>
                            <div id='id_anio_egreso_div' class="col-lg-6" hidden>
                                {% bootstrap_field estudiante_form.anio_egreso layout='vertical' %}
                            </div>
                            </div>
                        </div>
                        <!-- ############################################################ -->
                        <div id='id_inscripcion_div' hidden>
                        <hr>
                        <h3>Inscripcion</h3>
                        <div class='row'>
                        <div class="alert alert-info col-lg-6 mx-auto" role="alert">
                        Tenga en cuenta que el turno y la modalidad se encuentras sujetos a disponibilidad y capacidad
                        </div>
                        </div>
                        <div class='row'>
                            <div class="col-lg-6" >
                                {% bootstrap_field estudiante_form.especialidad layout='vertical' %}
                            </div>
                            <div class="col-lg-3" >
                                {% bootstrap_field estudiante_form.turno layout='vertical' %}
                            </div>
                            <div class="col-lg-3" >
                                {% bootstrap_field estudiante_form.modalidad layout='vertical' %}
                            </div>
                        </div>
                        </div>

                        </div>
                        <div class="row conteiner-fluid" id="id_botones_div" hidden>
                            <div class="col-lg-2">
                                {% bootstrap_button button_type="submit" content="Siguiente" %}
                            </div>
                            <div class="col-lg-2">
                                {% bootstrap_button button_type="reset" content="Cancelar" %}
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content_js %}
<script type="text/javascript">

    $(document).ready(function () {
        recarga_errores();
        $("#id_genero").on("change", genero);
        $("#id_sexo").on("change", sexo);
        $("#id_pais_documento").on("change", cuil);
        $("#id_pais_nacimiento").on("change", presetNacionalidad);//Falta esta funcion q deberia setear al nacionalida igual al pais de nacimiento
        $("#id_domicilio_pais").on("change", getDomicilioProvincias);
        $("#id_domicilio_provincia").on("change", getDomicilioPartidos);
        $("#id_domicilio_partido").on("change", getDomicilioLocalidades);
        $("#id_domicilio_localidad").on("change", direccion);
        $('#id_pais').on("change", getProvincias);
        $('#id_provincia').on("change", getPartido);
        $('#id_partido').on("change", getLocalidad);
        $('#id_localidad').on("change", getEscuela);
        $('#id_escuela').on("change", titulacion);
        $('#id_anio_egreso').on("change", inscripcion);
        $("#id_modalidad").on("change", modalidad);
        $("#id_especialidad").on("change", turno);
        $('#id_turno').find('option').hide();
        $('#id_turno').find('option[value=""]').show();
        bloquear_copy_paste();
    });


    function presetNacionalidad() {
        var paisNacimiento = $('#id_pais_nacimiento').val();
        console.log(paisNacimiento)
        $("#id_nacionalidad").val(paisNacimiento)
    }

    function turno() {
            var especialidad = $(this).val();
            var turnoSelect = $('#id_turno');
            // Restaurar todas las opciones
            turnoSelect.find('option').hide();
            turnoSelect.find('option[value=""]').show();
            // Si se selecciona Ing. Civil, ocultar Turno Tarde
            if (especialidad === '31') {
                turnoSelect.find('option[value="m"]').show();
                turnoSelect.find('option[value="n"]').show();
                }
            // Si se selecciona Ing. en Sistemas de Informacion, ocultar Turno Tarde
            else if (especialidad === '5') {
                turnoSelect.find('option[value="m"]').show();
                turnoSelect.find('option[value="n"]').show();
                }
            // Si se selecciona Ing. en Energia Electrica, ocultar Turno Tarde y Mañana
            else if (especialidad === '7') {
                turnoSelect.find('option[value="n"]').show();
                }
            // Si se selecciona Ing. Mecanica, ocultar Turno Tarde
            else if (especialidad === '17') {
                turnoSelect.find('option[value="m"]').show();
                turnoSelect.find('option[value="n"]').show();
                }
            // Si se selecciona Ing. Quimica, ocultar Turno Tarde y Mañana
            else if (especialidad === '27') {
                turnoSelect.find('option[value="n"]').show();
                }
            // Si se selecciona Ing. Industrial, ocultar Turno Tarde y Mañana
            else if (especialidad === '24') {
                turnoSelect.find('option[value="m"]').show();
                turnoSelect.find('option[value="n"]').show();
                }
        }

    function bloquear_copy_paste() {
        $("#id_telefono2").on('paste', function(e){e.preventDefault();})
        $("#id_telefono2").on('copy', function(e){e.preventDefault();})
        $("#id_correo2").on('paste', function(e){e.preventDefault();})
        $("#id_correo2").on('copy', function(e){e.preventDefault();})
        $("#id_telefono").on('paste', function(e){e.preventDefault();})
        $("#id_telefono").on('copy', function(e){e.preventDefault();})
        $("#id_correo").on('paste', function(e){e.preventDefault();})
        $("#id_correo").on('copy', function(e){e.preventDefault();})
    }

    function getDomicilioProvincias() {
        let paisID = $("#id_domicilio_pais").val();
        if (paisID == '9') {
            document.getElementById("id_estudiante_form_div").setAttribute("hidden","");
            document.getElementById("id_domicilio_provincia_div").removeAttribute("hidden");
            // Eliminamos las opciones anteriores del select
            //$("#id_domicilio_provincia").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_provincias' %}",
                data: {
                    "domicilio_pais": paisID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var provinciaDomicilioID = $('#id_domicilio_provincia').val();
                $("#id_domicilio_provincia").html(response.provincias);
                if (provinciaDomicilioID) {
                    $('#id_domicilio_provincia').val(provinciaDomicilioID);
                }
            });
        } else {
            document.getElementById("id_domicilio_provincia_div").setAttribute("hidden", "");
            document.getElementById("id_domicilio_partido_div").setAttribute("hidden", "");
            document.getElementById("id_domicilio_localidad_div").setAttribute("hidden", "");
            document.getElementById("id_domicilio_direccion_div").setAttribute("hidden", "");
            document.getElementById("id_estudiante_form_div").removeAttribute("hidden");
            document.getElementById("id_domicilio_provincia_div").setAttribute("hidden", "");
            $("#id_domicilio_provincia").html("<option value='' selected='selected'>---------</option>");
        }
    }

    function getDomicilioPartidos() {
        let provinciaID = $("#id_domicilio_provincia").val();
        document.getElementById("id_domicilio_direccion_div").setAttribute("hidden", "");
        //console.log(provinciaID)
        if (provinciaID == '6') {
            document.getElementById("id_domicilio_partido_div").removeAttribute("hidden");
            document.getElementById("id_domicilio_localidad_div").setAttribute("hidden", "");
            // Eliminamos las opciones anteriores del select
            //$("#id_domicilio_partido").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_partidos' %}",
                data: {
                    "domicilio_provincia": provinciaID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var partidoDomicilioID = $('#id_domicilio_partido').val();
                $("#id_domicilio_partido").html(response.partidos);
                if (partidoDomicilioID) {
                    $('#id_domicilio_partido').val(partidoDomicilioID);
                }
            });
        } else {
            document.getElementById("id_domicilio_localidad_div").removeAttribute("hidden");
            document.getElementById("id_domicilio_partido_div").setAttribute("hidden", "");
            // Eliminamos las opciones anteriores del select
            //$("#id_domicilio_localidad").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_partidos' %}",
                data: {
                    "domicilio_provincia": provinciaID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var localidadDomicilioID = $('#id_domicilio_localidad').val();
                $("#id_domicilio_localidad").html(response.localidades);
                $('#id_domicilio_partido').val('');
                if (localidadDomicilioID) {
                    $('#id_domicilio_localidad').val(localidadDomicilioID);
                }
            })
        }
    }


    function getDomicilioLocalidades() {
        document.getElementById("id_domicilio_direccion_div").setAttribute("hidden", "");

        let partidoID = $("#id_domicilio_partido").val();
        if (partidoID) {
            document.getElementById("id_domicilio_localidad_div").removeAttribute("hidden");
            // Eliminamos las opciones anteriores del select
            //$("#id_domicilio_localidad").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_localidades' %}",
                data: {
                    "domicilio_partido": partidoID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var localidadDomicilioID = $('#id_domicilio_localidad').val();
                $("#id_domicilio_localidad").html(response.localidades);
                if (localidadDomicilioID) {
                    $('#id_domicilio_localidad').val(localidadDomicilioID);
                }
            });
        } else {
            document.getElementById("id_domicilio_direccion_div").setAttribute("hidden", "");
            $("#id_domicilio_localidad").html("<option value='' selected='selected'>---------</option>");
        }

    }

    function direccion() {
        document.getElementById("id_domicilio_direccion_div").removeAttribute("hidden");
        document.getElementById("id_estudiante_form_div").removeAttribute("hidden");
    }

    function cuil() {
        let paisID = $("#id_pais_documento").val();
        if (paisID == '9') {
            document.getElementById("id_cuil_div").removeAttribute("hidden");
        } else {
            document.getElementById("id_cuil_div").setAttribute("hidden","");
        }
    }

    function genero() {
        let generoID = $("#id_genero").val();
        if (generoID == '13') {
            document.getElementById("id_genero_otro_div").removeAttribute("hidden");
            document.getElementById("id_genero_otro").setAttribute("required","");
        } else {
            document.getElementById("id_genero_otro_div").setAttribute("hidden","");
            document.getElementById("id_genero_otro").removeAttribute("required");
        }
    }

    function sexo() {
        let sexoID = $("#id_sexo").val();
        if (sexoID == 'm') {
            $("#id_genero").val('7')
        }
        if (sexoID == 'f') {
            $("#id_genero").val('1')
        }
        if (sexoID == 'n') {
            $("#id_genero").val('11')
        }
    }

    function modalidad(){
        document.getElementById("id_botones_div").removeAttribute("hidden");
    }

    function getProvincias() {
        let paisID = $("#id_pais").val();
        if (paisID == '9') {
            document.getElementById("id_inscripcion_div").setAttribute("hidden","");
            document.getElementById("id_provincia_div").removeAttribute("hidden");
            document.getElementById("id_titulo_secundario_div").setAttribute("hidden","");
            document.getElementById("id_anio_egreso_div").setAttribute("hidden","");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_provincias' %}",
                data: {
                    "domicilio_pais": paisID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var provinciaID = $('#id_provincia').val();
                $("#id_provincia").html(response.provincias);
                if (provinciaID) {
                    $('#id_provincia').val(provinciaID);
                }
            });
        } else {
            inscripcion();
            document.getElementById("id_provincia_div").setAttribute("hidden", "");
            document.getElementById("id_partido_div").setAttribute("hidden", "");
            document.getElementById("id_localidad_div").setAttribute("hidden", "");
            document.getElementById("id_escuela_div").setAttribute("hidden", "");
            document.getElementById("id_titulo_secundario_div").removeAttribute("hidden");
            document.getElementById("id_anio_egreso_div").removeAttribute("hidden");
            document.getElementById("id_inscripcion_div").removeAttribute("hidden");
            //$("#id_domicilio_provincia").html("<option value='' selected='selected'>---------</option>");
        }
    }

    function getPartido() {
        document.getElementById("id_escuela_div").setAttribute("hidden", "");
        document.getElementById("id_titulo_secundario_div").setAttribute("hidden", "");
        document.getElementById("id_anio_egreso_div").setAttribute("hidden", "");
        document.getElementById("id_inscripcion_div").setAttribute("hidden", "");
        let provinciaID = $("#id_provincia").val();
        if (provinciaID == '6') {
            document.getElementById("id_inscripcion_div").setAttribute("hidden","");
            document.getElementById("id_localidad_div").setAttribute("hidden", "");
            document.getElementById("id_partido_div").removeAttribute("hidden");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_partidos' %}",
                data: {
                    "domicilio_provincia": provinciaID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var partidoID = $('#id_partido').val();
                $("#id_partido").html(response.partidos);
                if (partidoID) {
                    $('#id_partido').val(partidoID);
                }
            });
        } else {
            document.getElementById("id_localidad_div").removeAttribute("hidden");
            document.getElementById("id_partido_div").setAttribute("hidden", "");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_partidos' %}",
                data: {
                    "domicilio_provincia": provinciaID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var localidadID = $('#id_localidad').val();
                $("#id_localidad").html(response.localidades);
                $('#id_partido').val('');
                if (localidadID) {
                    $('#id_localidad').val(localidadID);
                }
            })
        }
    }

    function getLocalidad() {
        document.getElementById("id_escuela_div").setAttribute("hidden", "");
        document.getElementById("id_titulo_secundario_div").setAttribute("hidden", "");
        document.getElementById("id_anio_egreso_div").setAttribute("hidden", "");
        document.getElementById("id_inscripcion_div").setAttribute("hidden", "");

        let partidoID = $("#id_partido").val();
        if (partidoID) {
            document.getElementById("id_localidad_div").removeAttribute("hidden");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_localidades' %}",
                data: {
                    "domicilio_partido": partidoID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var localidadID = $('#id_localidad').val();
                $("#id_localidad").html(response.localidades);
                if (localidadID) {
                    $('#id_localidad').val(localidadID);
                }
            });
        }
    }

    function getEscuela() {
        let localidadID = $("#id_localidad").val();
        if (localidadID) {
            document.getElementById("id_escuela_div").removeAttribute("hidden");
            document.getElementById("id_titulo_secundario_div").setAttribute("hidden", "");
            document.getElementById("id_anio_egreso_div").setAttribute("hidden", "");
            document.getElementById("id_inscripcion_div").setAttribute("hidden", "");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'get_escuelas' %}",
                data: {
                    "escuela_localidad": localidadID,
                },
            });
            request.done(function (response) {
                // Agregamos los resultados al select
                var escuelaID = $('#id_escuela').val();
                $("#id_escuela").html(response.escuelas);
                if (escuelaID) {
                    $('#id_escuela').val(escuelaID);
                }
            });
        }
    }

    function inscripcion() {
        document.getElementById("id_inscripcion_div").removeAttribute("hidden");
    }

    function titulacion() {
        document.getElementById("id_titulo_secundario_div").removeAttribute("hidden");
        document.getElementById("id_anio_egreso_div").removeAttribute("hidden");
    }

    function recarga_errores() {
        var paisDocumentoID = $('#id_pais_documento').val();
        var paisDomicilioID = $('#id_domicilio_pais').val();
        var provinciaDomicilioID = $('#id_domicilio_provincia').val();
        var partidoDomicilioID = $('#id_domicilio_partido').val();
        var localidadDomicilioID = $('#id_domicilio_localidad').val();
        var paisID = $('#id_pais').val();
        var provinciaID = $('#id_provincia').val();
        var partidoID = $('#id_partido').val();
        var localidadID = $('#id_localidad').val();
        var escuelaID = $('#id_escuela').val();
        var titulo = $('#id_titulo_secundario').val();
        var modalidadID = $('#id_modalidad').val();
        var generoID = $('#id_genero').val();

        if (generoID == '13'){
            genero();
        }
        if (paisDocumentoID == '9'){
            cuil();
        }
        if (paisDomicilioID != '')  {
            getDomicilioProvincias();
        }
        if (provinciaDomicilioID != ''){
            getDomicilioPartidos();
        }
        if (partidoDomicilioID != ''){
            getDomicilioLocalidades();
        }
        if (localidadDomicilioID != ''){
            direccion();
        }
        if (paisID != ''){
            getProvincias();
        }
        if (provinciaID != '') {
            getPartido();
        }
        if (partidoID != '') {
            getLocalidad();
        }
        if (localidadID != '') {
            getEscuela();
        }
        if (escuelaID != '') {
            titulacion();
        }
        if (titulo != '') {
            inscripcion();
        }
        if (modalidadID != ''){
            modalidad();
        }
    }

</script>

{% endblock %}
