{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<div class="container">
  <div class="row gx-5 justify-content-center">
    <div class="col-sm-8">
      <div style="background: #eee; padding: 2.5rem">
        <h2 style="text-align: center">Importante</h2>

        <p style="text-align: center; margin-top: 1rem">
          Si al intentar inscribirse el formulario indica que el DNI ya existe,
          esto significa que ya está registrado en nuestro sistema. Para
          continuar, por favor seleccione la opción
          <strong>"Reinscribirme"</strong> para actualizar sus datos o modificar
          su inscripción.
        </p>

        <div style="padding-top: 2%; text-align: center">
          <a
            class="btn btn-primary"
            href="{% url 'crear_persona' %}"
            role="button"
            >Inscribirme por Primera Vez</a
          >
          <a
            class="btn btn-primary"
            href="{% url 'reinscripcion' %}"
            role="button"
            >Reinscribirme</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
