{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container-fluid">
    <div class=" row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-10 col-sm-6 col-lg-6 col-xl-4" style="background: #EEE; border-radius: 2%; padding: 2.5rem">
            <h4 class="fw-bolder text-center">Confirmación de Inscripción</h2>
            <div class="center-block, text-center">
                <p>Estimado/a,</p>
                <p class="text-center">Su documentación ha sido procesada y confirmada. Usted ha sido inscrito/a en
                    el seminario de ingreso.</p>
                <p class="text-center">¡Esperamos contar con su presencia!</p>
            </div>
        </div>
    </div>
</div>
