{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}


{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Listado de inscriptos en:</h1>
                    <!-- Selector de curso -->
                    <form class="row g-2" method="get" action="{% url 'admin-estudiantes_list' %}">
                        <div class="col-md-6">
                            <select class='form-select form-select-lg mb-3' name="curso_anio" id="curso_anio" onchange="this.form.submit()">
                                <option value="">--Año de cursado--</option>
                                {% for anio in anios %}
                                    <option value="{{ anio }}" {% if anio|stringformat:"s" == request.GET.curso_anio %}selected{% endif %}>
                                        {{ anio }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class='form-select form-select-lg mb-3' name="curso_id" id="curso_id" onchange="this.form.submit()">
                                <option value="">--Estudiantes sin curso--</option>
                                {% for curso in cursos %}
                                    <option value="{{ curso.id }}" {% if curso.id|stringformat:"s" == request.GET.curso_id %}selected{% endif %}>
                                        {{ curso.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                        <h4>Inicial del apellido:</h4>
                            <div class="btn-group" role="group" aria-label="Alphabet Buttons">
                                {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                                    <button type="submit" class="btn {% if letter == request.GET.letter %}btn-success{% else %}btn-primary{% endif %}" name="letter" value="{{ letter }}">
                                        {{ letter }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
            </div>

            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="text" id="filterApellido" class="form-control" placeholder="Apellido"></th>
                            <th><input type="text" id="filterNombre" class="form-control" placeholder="Nombre"></th>
                            <th><input type="text" id="filterCorreo" class="form-control" placeholder="Correo"></th>
                            <th><input hidden type="text" id="filterCarrera" class="form-control" placeholder="Carrera"></th>
                            <th><input hidden type="text" id="filterTurno" class="form-control" placeholder="Turno"></th>
                            <th><input hidden type="text" id="filterModalidad" class="form-control" placeholder="Modalidad"></th>
                            <th><input type="text" id="filterEstado" class="form-control" placeholder="Estado"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Carrera</th>
                            <th>Turno</th>
                            <th>Modalidad</th>
                            {% if inscripciones %}<th>Estado</th>{% else %}  {% endif %}
                            <th class="text-center">Acciones</th>
                        </tr>
                        {% if inscripcion_form %}
                        <form action="{% url 'inscribir_en_curso' %}" id="inscribirCursoForm" method="post">{% csrf_token %}
                        <tr>
                            <input hidden type="text" name="curso_id" class="form-control" value='{{curso_version.id}}'>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="True" name="aprobacion" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">Aprobacion</label>
                                </div>
                            </td>
                            <td colspan="6"><input type="text" name="documento" class="form-control" placeholder="Se puede inscribir a un Documento o un listado de Documentos separados por ;"></td>
                            <td class="text-center">
                                {% bootstrap_button button_type="submit" content="Inscribir" %}
                            </td>
                        </tr>
                        </form>
                        {% endif %}
                    </thead>
                    <tbody id="inscriptosTableBody">
                        {% if inscripciones %}
                        {% for inscripcion in inscripciones %}
                        <tr>
                            <td>{{ inscripcion.estudiante.persona.apellidos.upper }}</td>
                            <td>{{ inscripcion.estudiante.persona.nombres.title }}</td>
                            <td>{{ inscripcion.estudiante.persona.correo }}</td>
                            <td>{{ inscripcion.especialidad.nombre.title }}</td>
                            <td>{{ inscripcion.turno.nombre }}</td>
                            <td>{{ inscripcion.modalidad.nombre }}</td>
                            <td>{{ inscripcion.estado.title }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <!-- Editar inscripto -->
                                    <a class="btn btn-warning btn-sm" target="_blanck" href="{% url 'admin:inscripcion_estudiante_change' inscripcion.estudiante.pk %}" role="button">{% bs_icon 'person-fill-gear' %}</a>
                                    <a class="btn btn-warning btn-sm" target="_blanck" href="{% url 'admin:inscripcion_inscripcion_change' inscripcion.pk %}" role="button">{% bs_icon 'journal-text' %}</a>
                                    {% comment %} <button class="cambiar-estado btn btn-success" data-id="{{ inscripcion.pk }}">{% bs_icon 'arrow-clockwise' %}</button> {% endcomment %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for estudiante in estudiantes %}
                        <tr>
                            <td>{{ estudiante.persona.apellidos.upper }}</td>
                            <td>{{ estudiante.persona.nombres.title }}</td>
                            <td>{{ estudiante.persona.correo.lower }}</td>
                            <td>{{ estudiante.get_especialidad_display }}</td>
                            <td>{{ estudiante.get_turno_display }}</td>
                            <td>{{ estudiante.get_modalidad_display }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-warning btn-sm" target="_blanck" href="{% url 'admin:inscripcion_estudiante_change' estudiante.credencial %}" role="button">{% bs_icon 'person-fill-gear' %}</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<!-- modal.html -->
<div id="inscripcionModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inscripción al Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="mensajes-lista"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('input[id^="filter"]');
            const tableBody = document.getElementById('inscriptosTableBody');
            const rows = tableBody.getElementsByTagName('tr');

            inputs.forEach(input => {
                input.addEventListener('input', () => {
                    const filterValues = Array.from(inputs).map(input => input.value.toLowerCase());
                    
                    for (let i = 0; i < rows.length; i++) {
                        let shouldHide = false;
                        const cells = rows[i].getElementsByTagName('td');
                        
                        for (let j = 0; j < filterValues.length; j++) {
                            const cell = cells[j];
                            if (cell) {
                                const cellText = cell.textContent.toLowerCase();
                                if (!cellText.includes(filterValues[j])) {
                                    shouldHide = true;
                                    break;
                                }
                            }
                        }
                        
                        rows[i].style.display = shouldHide ? 'none' : '';
                    }
                });
            });
        });
        
        function setDeleteFormAction(url) {
            document.getElementById('deleteForm').action = url;
        }

    $(document).ready(function() {
        $(".cambiar-estado").click(function() {
            var boton = $(this);
            var registroId = boton.data("id");

            $.ajax({
                url: `{% url 'aprobar_curso' %}`,
                type: "POST",
                data: {"inscripcion_id": registroId,},
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.success) {
                        //alert("El estado ha sido cambiado a: " + response.nuevo_estado);
                        // Opcional: actualizar la interfaz
                        boton.parent().find("p").text("Estado: " + response.nuevo_estado);
                    } else {
                        alert("No se pudo cambiar el estado.");
                    }
                },
                error: function() {
                    alert("Error al intentar cambiar el estado.");
                }
            });
        });
    });

const myModal = document.getElementById('inscripcionModal');
    myModal.addEventListener('hidden.bs.modal', function () {
        location.reload(); // Recargar la página al cerrar el modal
        });

document.getElementById('inscribirCursoForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);

    fetch('{% url 'inscribir_en_curso' %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            var mensajesLista = document.getElementById('mensajes-lista');
            mensajesLista.innerHTML = '';
            data.mensajes.forEach(function(mensaje) {
                var li = document.createElement('li');
                li.textContent = mensaje;
                mensajesLista.appendChild(li);
            });
            $('#inscripcionModal').modal('show');
        } else {
            alert('Error en la inscripción');
        }
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}



